body {
  background-image: url('loginImage.png');
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2ecc71;
	background-size: cover; 
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}


form {
  color:white;
  background-color:none;
  margin-top: 100px;
  padding: 25px;
  border: 5px;
  transition: transform 0.3s ease-in-out; 
}
form button{
	text-align:center;
	margin-left:30%;
}

form:hover {
  transform: scale(1.02); 
}

div {
  display: block;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease-in-out; /* Added transition for a smooth effect */
}

input:focus {
  border-color: #4caf50; /* Change border color on input focus */
}

button {
  background-color: #4caf50;
  color: #fff;
  padding:10px 15px;
  border-radius:4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out; /* Added transitions */
}

button:hover {
  background-color: #45a049;
   display: inline-block;
  transform: scale(1.05); /* Scale the button slightly on hover */
}

h2 {
  color: black;
}
h1 {
	margin-bottom:20px;
}




@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
ul {
	list-style: none;
}

a {
	color: #333;
	text-decoration: none;
}


/* Navbar */
.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #1B2631;
	color: #fff;
	opacity: 0.8;
	width: 100%;
	height: 70px;
	position: fixed;
	top: 0px;
	padding: 0 30px;
	transition: 0.5s;
}

.navbar.top {
	background: transparent;
}

.navbar a {
	color: #fff;
	padding: 10px 20px;
	margin: 0 5px;
}

.navbar a:hover {
	border-bottom: #28a745 2px solid;
}

.navbar ul {
	display: flex;
}

.navbar .logo {
	font-weight: 400;
}



/* Icons */
.icons {
	padding: 30px;
}

.icons h3 {
	font-weight: bold;
	margin-bottom: 15px;
}

.icons i {
	background-color: #28a745;
	color: #fff;
	padding: 1rem;
	border-radius: 50%;
	margin-bottom: 15px;
}

/* Footer */
.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 200px;
}

.footer a {
	color: #fff;
}

.footer a:hover {
	color: #28a745;
}

.footer .social>* {
	margin-right: 30px;
}

/* Mobile */
@media(max-width: 768px) {
	.navbar {
		flex-direction: column;
		height: 120px;
		padding: 20px;
	}

	.navbar a {
		padding: 10px 10px;
		margin: 0 3px;
	}

	.flex-items {
		flex-direction: column;
	}

	.flex-columns .column,
	.flex-grid .column {
		flex: 100%;
		max-width: 100%;
	}

	.team img {
		width: 70%;
	}
}

